.linea {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    color: brown;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: 22px;
    color:darkgreen 
}