h3  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18;
    color: black;
    background-color:aquamarine;
    padding: 5px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

h4  {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18;
    color: black;
    padding: 5px;
    text-align: center;
    border-bottom: 8px double black;
}

.linea {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18;
    color: black;
    text-align: center;
}