<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue - Bucle for</title>
</head>

<body>
    <h3>Vue - v-for</h3>
    <hr>

    <ul id="miLista">


        <li v-for="persona in personas">

            cliente: {{persona.nombre}} {{persona.apellido}}
            <span v-if="persona.edad>=18"> (Mayor de edad)</span>
            <span v-else> (Menor de edad)</span>

            <!-- ¿puedes aplicar un estilo (color, por ejemplo)?-->
        </li>
    </ul>


    <!-- Referencia al CDN de vue  ------------------------------------>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- Y aqui colocamos nuestro script ------------------------------>
    <script>
        var app = new Vue({
            el: '#miLista',
            data: {
                personas: [{
                    nombre: "Juan",
                    apellido: "Ramirez",
                    edad: 29
                }, {
                    nombre: "Ana",
                    apellido: "Fernandez",
                    edad: 12
                }, {
                    nombre: "Pablo",
                    apellido: "Flores",
                    edad: 19
                }, {
                    nombre: "Sol",
                    apellido: "Alvarez",
                    edad: 9
                }]
            }
        })
    </script>


</body>

</html>